.navigation {
  background-color: #fafafa;
  color: #fff;
  padding: 10px;
  border: 1px solid #bbb8bf;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.navigation li {
  text-decoration: none;
  list-style: none;
}